<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <script src="/assets/js/app.js" defer type="module"></script>
        <link rel="stylesheet" href="/assets/css/app.css">
    </head>
    <body>
        {% include '/logo.twig' %}
        <div id="app"></div>
    </body>
</html>
